.intro .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 120px;
  z-index: -1;
}

.mySwiper {
  width: 800px;
  border-radius: 5px;
}
.intro_box1 {
  width: 550px;
}

.intro_box1 h2 {
  font-size: 29px;
  font-family: Rza, Rza-fallback, Georgia, serif;
  text-align: left;
  line-height: 45px;
  margin-right: 30px;
}

.intro h4 {
  text-align: right;
  margin-right: 30px;
  margin-top: 65px;
  color: rgb(0, 0, 0);
  font-size: 17px;
}

.intro_box1 h2 span:first-child {
  background-color: #50e2c3;
}

.intro_box1 h2 span:last-child {
  background-color: #ff7547;
}

/* .intro_box1 h2 span:first-child */
